# Byte-compiled / optimized / DLL fikes
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# File sementara
*.log
*.tmp
coba.py